.always {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #F8D4E3;
}

.always .text {
    width: 250px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.always .text a {
    text-decoration: none;
    font-size: 22px;
    color: #201C1C;
    font-family: Lato;
}

.always .text img {
    width: 15px;
    height: 15px;
}

.line {
    width: 1420px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #201C1C;
    margin-top: 20px;
}

.line a {
    text-decoration: none;
    font-size: 20px;
    color: #201C1C;
    font-family: Lato;
}

.watchText {
    width: 1021px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.boxshop {
    width: 1450px;
    height: 145px;
    background-color: #F4C9DA;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.firstline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.secondline {
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.smallbuttons {
    width: 235px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallbuttons:hover{
    box-shadow: 3px 4px 4.7px 4.7px rgba(0, 0, 0, 0.75);
    border-radius: 50px;
    transition: 1s;
    background-color: #FFE3EF;
}

.watchText p {
    font-size: 20px;
    color: #201C1C;
    font-family: Lato;
}